{
  "extends": ["standard", "plugin:import/errors", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "semi": false, "printWidth": 120 }]
  }
}
